<div class="ui middle aligner selection divided list" *ngIf="bons">
    <a *ngFor="let bon of bons" class="item">
        <div class ="content">
            <div class="header">{{ bon.table }} / {{ bon.party }}</div>
            Waiter {{ bon.waiter }} {{ bon.waiterName }}
            ( {{ bon.orders.length }} Orders ) 
        </div>
    </a>
</div>